// Media Queries
@media (max-width: 950px) {
    .title {
        left: 22%;

        span {
            padding-left: 0px;
        }
    }

    h1 {
        text-align: center;
    }

    .top-nav {
        display: none;
    }

    .header-nav-container {
        .hamburger {
            visibility: visible;
        }
    }

    .mobile-nav {
        visibility: visible;
    }

    .down-arrow {
        padding-top: 5%;
    }

    .about-container {
        flex-direction: column;
        align-items: center;

        .about-image {
            margin-bottom: 4%;
            width: 40%;
        }

        .about-text {
            width: 100%;

            p {
                margin-bottom: 4%;
                text-align: center;
            }
        }
    }

    .project-container {
        flex-direction: column;

        .project-image,
        .project-text {
            width: 100%;
        }
    }
}

@media(max-width: 750px) {
    .title {
        left: 12.5%;
    }

    h1 {
        padding-top: 10%;
    }

    div.large-circle {
        margin-top: 75px;
        height: 450px;
        width: 450px;
    }
    
    div.small-circle {
        height: 150px;
        width: 150px;
        top: 60%;
        left: 60%;
    }


    .skills-gallery {
        ul {
            li {
                width: calc((100% / 4) - 8%);
            }
        }
    }

    .contact-container {
        h3 {
            margin: 7% 0;
        }
    }
    
    .contact {
        margin-bottom: 7% 0;
    }

    .socials-nav {
        ul { 
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

@media(max-width: 600px) {
    h1 {
        font-size: 2.5rem;
        line-height: 2.7rem;
    }

    .title {
        padding-top: 10%;
        span {
            font-size: 1.8rem;
        }
    }

}

@media(max-width: 550px) {
    div.large-circle {
        margin-top: 90px;
        height: 350px;
        width: 350px;
    }
    
    div.small-circle {
        height: 125px;
        width: 125px;
        top: 53%;
        left: 55%;
    }

    p,
    a {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .skills-gallery {

        ul {
    
            li {
                width: calc((100% / 3) - 8%);
    
                p {
                    font-size: 16px;
                }
            
                i {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media(max-width: 400px) {

    h1 {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .title {
        padding-top: 10%;
        span {
            font-size: 1.5rem;
        }
    }

    div.large-circle {
        margin-top: 120px;
        height: 300px;
        width: 300px;
    }
    
    div.small-circle {
        height: 100px;
        width: 100px;
        top: 53%;
        left: 55%;
    }

    h2 {
        margin: 10% 0;
        font-size: 1.4rem;
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
    }

    .square-decoration,
    .square-decoration2 {
        margin-bottom: 10%;
    }

    .contact-container {
        h3 {
            margin: 20% 0;
        }
    }
    
    .contact {
        margin-bottom: 12% 0;
    }
}