// Projects

.projects-section {
    background-color: $light-orange;
    padding: 3% 0;
    background-image: url(../assests/wave-pattern.png);
    background-size: 330px;

    :nth-child(even) {
        flex-direction: row-reverse;
    }
}

.project-container {
    display: flex;
    margin: 5% 0;
    background-color: rgba(245, 232, 224, 0.6);
    padding: 3% 1%;

    .project-image,
    .project-text {
        width: calc((100% / 2) - 4%);
    }

    .project-image {
        margin-right: 2%;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }

    .project-text {
        margin: 0 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h3 {
            text-align: left;
        }

        p {
            line-height: 1.6rem;
            margin-bottom: 25px;
        }

        .peer-link {
            color: black;
            text-decoration: underline;
        }
        
        .peer-link:hover,
        .peer-link:focus {
            color: $red-orange;
        }

        ul {
            display: flex;
            margin: 3% 0;

            li {
                font-size: 1.5rem;
                padding-right: 3%;
            }
        }

        .links-container {
            a {
                color: $light-orange;
                background-color: black;
                padding: 12px 30px;
            }

            a:hover,
            a:focus {
                color: $light-orange;
                background-color: $red-orange;
            }
        }
    }

    li {
        img {
            height: 30px;
            width: 30px;
        }
    }
}

.reveal {
    position: relative;
    opacity: 0;
}

.active {
    opacity: 1;
}

.active.fade-in-left {
    animation: fade-left 1s ease-in;
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }