// About 
.about-section {
    height: 100vh;
    margin: 4% 0 0;

    .bio {
        margin-bottom: 4%;
    }
}

.square-decoration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .small-square {
        height: 5px;
        width: 5px;
        background-color: $red-orange;
        margin-left: 2px;
        margin-bottom: 2px;
    }
    
    .med-square {
        height: 9px;
        width: 9px;
        background-color: $red-orange;
        margin-left: 2px;
    }
    
    .large-square {
        height: 20px;
        width: 20px;
        background-color: $red-orange;
        margin-left: 2px;
    }
}

h2 {
    margin: 2% 0;
    text-transform: uppercase;
}

h3 {
    margin: 2% 0;
    font-size: 1.4rem;
    text-align: center;
}

.skills-gallery {
    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 2% 4%;
            width: calc((100% / 5) - 8%);
            display: flex;
            flex-direction: column;

            p {
                font-size: 16px;
                text-align: center;
                padding-top: 10%;
            }
        
            i {
                font-size: 3rem;
                text-align: center;
                color: $dark-grey
            }
        }
    }
}