// Header

header {
    background-color: $light-orange;
    height: 100vh;
    background-image: url(../assests/wave-pattern.png);
    background-size: 330px;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;

    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        visibility: collapse;
        z-index: 20;

        .bar {
            width: 30px;
            height: 3px;
            background: $dark-grey;
        }
    }
}

.logo {
    font-size: 1.9rem;
    color: $dark-grey;
    z-index: 20;
}

.top-nav {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    ul {
       display: flex;
       justify-content: space-between;
       width: 35vw;
    
       a {
           color: $dark-grey;
       }

       a:hover,
       a:focus {
           text-decoration: underline;
       }
    } 
}

.mobile-nav {
    position: fixed;
    transform: translateY(-110%);
    transition: 0.4s transform ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(245, 232, 224, 0.95);
        height: 100vh;
        padding-top: 15%;


        a {
            padding: 3% 0;
            color: $dark-grey;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }

    }
}

.opened {
    transform: translateY(0);
}

.title-container {
    position: relative;
}

.decoration {
    display: flex;
    justify-content: center;
}

div.large-circle {
    background-color: $red-orange;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    z-index: 1;
}

div.small-circle {
    background-color: $white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 57%;
}

.title {
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 20%;

    span {
        padding-left: 50px;
    }
}

.down-arrow {
    display: flex;
    justify-content: center;

    img {
        height: 70px;
        width: 70px;
    }
}

.bounce {
    animation: bounce 2500ms infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(15px);
    }

    60% {
      transform: translateY(-10px);
    }
  }