// Typography
@font-face {
    font-family: 'opticuento';
    src: url('../assests/font/opticuento-webfont.woff2') format('woff2'),
         url('../assests/font/opticuento-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

li {
    list-style: none;
}


h1, 
h2,
h3,
.logo {
    font-family: 'opticuento';
}

h1 {
    text-transform: uppercase;
    line-height: 3.2rem;
    font-size: 2.7rem;
    text-shadow: 0px 3px 10px rgba(29, 29, 29, 0.15),
                 0px 13px 2px rgba(29, 29, 29, 0.1),
                 0px 23px 30px rgba(29,29,29,0.1);
}

h2 {
    margin: 2% 0;
    font-size: 1.8rem;
    text-transform: uppercase;
}

h3 {
    margin: 2% 0;
    font-size: 1.7rem;
    text-align: center;
}
                 

h4,
p,
a,
button,
li {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}