// Colour palette 
$red-orange: rgb(252, 91, 27);
$light-orange: rgb(245, 232, 224);
$white: rgb(244, 244, 242);
$dark-grey: rgb(58, 58, 58);

// Imports
@import "./partials/normalize";

@import "./partials/typography";

@import "./partials/header";

@import "./partials/about";

@import "./partials/projects";

@import "./partials/contact";

@import "./partials/footer";

@import "./partials/media-queries";