// Colour palette 
$red-orange: rgb(252, 91, 27);
$light-orange: rgb(245, 232, 224);
$white: rgb(244, 244, 242);
$dark-grey: rgb(58, 58, 58);

@import "normalize";

@import "typography";

@import "header";